/*----------- VARIABLES&UTILITIES ----------*/
/*-----------------VARIABLES-----------------*/
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@1&display=swap");
#about {
  background-image: url(/img/pics/background2.png);
  background-repeat: repeat;
  background-size: auto; }

#index {
  background-image: url(/img/pics/backgroud-e.png);
  background-repeat: repeat;
  background-size: auto; }

#about #services {
  background-color: orange;
  background-repeat: repeat;
  background-size: auto; }

#index .container, #about #our-mission .container, #about #team .container, #works #our-works .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(64px, auto);
  grid-auto-flow: row;
  row-gap: 48px; }

#about #services .container, #contact #contact-us .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(64px, auto);
  grid-auto-flow: row;
  row-gap: 48px; }

#login #log .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(64px, auto);
  grid-auto-flow: row;
  row-gap: 48px; }

/*------------------------------------------*/
/*------------------MIXINS------------------*/
/*------------------------------------------*/
/*------------------ FONTS -----------------*/
/*------------------------------------------*/
/*----------------- COLORS -----------------*/
.c-blanco {
  color: #fff; }

.c-negro {
  color: black; }

.c-primary {
  color: #412236; }

.c-secondary {
  color: #e33f5b; }

.c-third {
  color: #f8dcda; }

.c-fourth {
  color: #dfab67; }

/*--------------- BACKGROUND ---------------*/
.bg-transparent {
  background: none; }

.bg-colored {
  background-color: rgba(227, 63, 91, 0.4); }

/*------------- MODIFICADORES --------------*/
.flex {
  display: flex; }

.column {
  flex-direction: column; }

.h-center {
  justify-content: center; }

.h-start {
  justify-content: flex-start; }

.h-end {
  justify-content: flex-end; }

.h-evenly {
  align-items: space-evenly; }

.h-between {
  align-items: space-between; }

.h-around {
  align-items: space-around; }

.v-center {
  align-items: center; }

.v-start {
  align-items: flex-start; }

.v-end {
  align-items: flex-end; }

.v-evenly {
  justify-content: space-evenly; }

.v-between {
  justify-content: space-between; }

.v-around {
  justify-content: space-around; }

.height-100 {
  height: 100%; }

.width-50 {
  width: 50%; }

.padding-30 {
  padding: 30px; }

.padding-20 {
  padding: 20px; }

.button-l {
  width: 160px;
  height: 40px;
  border: 1px solid #412236; }
  .button-l a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #412236; }

/*------------------------------------------*/
/*------------------------------------------*/
/*----------------- MEDIAQ -----------------*/
/*------------------ MEDIA -----------------*/
/*------------------------------------------*/
/*------------------------------------------*/
/*----------------- LAYOUT -----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  height: 100vh;
  width: 100%;
  font-size: 16px; }

.container {
  padding: 0 24px 0 24px;
  max-width: 1024px;
  min-width: 320px; }

.secondary-menu {
  display: flex;
  width: 300px;
  background: none; }
  .secondary-menu li {
    list-style: none; }
  .secondary-menu ul {
    width: 100%; }

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background: none;
  max-width: 1290px; }
  .main__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; }
  .main__menu {
    display: flex;
    width: 210px;
    background: none; }
    .main__menu li {
      list-style: none; }
    .main__menu ul {
      width: 100%; }

.content {
  width: 100%;
  display: flex; }
  .content__column {
    display: flex;
    flex-direction: column; }
  .content__media {
    display: flex;
    overflow: hidden; }
  .content__row {
    display: flex;
    width: 100%; }

/*------------------ TEXTS -----------------*/
.texts {
  display: flex; }
  .texts__title {
    font-family: "Prata", serif;
    font-size: 2.5rem;
    font-weight: 400;
    display: flex; }
  .texts__title-alt {
    font-family: "Hind", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex; }
  .texts__subtitle {
    font-family: "Prata", serif;
    font-size: 2rem;
    font-weight: 400;
    display: flex; }
  .texts__paraph {
    font-family: "Prata", serif;
    font-size: 1.25rem;
    font-weight: 400;
    display: flex; }

.header {
  grid-column: 1/-1;
  grid-row: 1;
  background: none;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding: 24px 24px 0 24px; }
  .header__menu {
    background: none;
    width: 540px; }
    .header__menu li {
      list-style: none; }
    .header__menu ul {
      width: 100%; }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    .header {
      padding: 10px;
      flex-wrap: wrap; }
      .header .header__menu {
        min-width: 300px;
        width: 100%; } }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .header .header__menu {
      min-width: 640px; } }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: none;
  height: 100%;
  width: 100%; }
  .menu__item-w a {
    color: #fff;
    text-decoration: none;
    font-family: "Hind", sans-serif;
    font-size: 1rem; }
  .menu__item-w a:hover {
    text-decoration: underline; }
  .menu__item-c a {
    color: #412236;
    text-decoration: none;
    font-family: "Hind", sans-serif;
    font-size: 1rem; }
  .menu__item-c a:hover {
    text-decoration: underline; }

.footer {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: black;
  padding: 50px 0 50px 0; }
  .footer__data {
    width: 540px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; }
  .footer__data li {
    list-style: none;
    font-family: "Hind", sans-serif;
    font-size: 1rem; }
  .footer__social {
    width: 260px;
    height: 35%;
    display: flex;
    color: #fff;
    justify-content: center; }
  .footer__social li {
    list-style: none; }
  .footer__social a {
    text-decoration: none;
    color: #fff; }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    .footer .footer__data {
      width: 320px; }
      .footer .footer__data .data__item {
        text-align: center; } }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    .footer .footer__data {
      width: 640px; } }

.data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .data__item {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }

.social {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .social__link {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/*------------------ INDEX -----------------*/
#index {
  max-height: 890px;
  display: grid;
  justify-items: center;
  row-gap: 110px;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 300px;
  grid-template-areas: "header" "container" "footer"; }

#index .container {
  row-gap: 64px; }
  #index .container .box-1 {
    grid-column: 1/4;
    grid-row: 1; }
  #index .container .box-2 {
    grid-column: 1/3;
    grid-row: 2; }
  #index .container .box-3 {
    grid-column: 3/5;
    grid-row: 2; }
  #index .container section {
    grid-column: 1/-1;
    grid-row: 3; }
    #index .container section .box-1 {
      height: 90px; }
      #index .container section .box-1 .texts {
        height: 100%; }
    #index .container section .content .texts {
      padding: 40px;
      width: 100%; }
    #index .container section .content .media {
      padding: 40px; }
    #index .container section .box-1 {
      height: 90px; }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    #index .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(64px, auto);
      grid-auto-flow: row;
      justify-items: center;
      row-gap: 48px;
      margin: 0;
      padding: 0; }
      #index .container .box-1 {
        padding: 20px;
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center; }
      #index .container .box-3 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 2; }
      #index .container .box-2 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 3; }
        #index .container .box-2 .media {
          display: flex;
          height: 100px;
          justify-content: center; }
      #index .container .section {
        grid-column: 1/-1;
        grid-row: 4; }
        #index .container .section .content {
          height: 1024px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
        #index .container .section .content__row {
          height: 420px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          #index .container .section .content__row .media {
            display: flex;
            justify-content: center;
            order: 1;
            padding: 0; }
          #index .container .section .content__row .texts {
            width: 70%;
            display: flex;
            justify-content: center;
            order: 2;
            padding: 36px 0 0 0; } }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    #index .container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-auto-rows: minmax(64px, auto);
      grid-auto-flow: row;
      row-gap: 48px; }
      #index .container .box-1 {
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        align-items: center; }
      #index .container .box-3 {
        grid-column: 1/-1;
        grid-row: 2; }
      #index .container .box-2 {
        grid-column: 1/-1;
        grid-row: 3; }
      #index .container .section {
        grid-column: 1/-1;
        grid-row: 4; }
        #index .container .section .content__row {
          display: flex;
          flex-direction: column;
          align-items: center; }
          #index .container .section .content__row .media {
            width: 100%;
            display: flex;
            justify-content: center;
            order: 1; }
          #index .container .section .content__row .texts {
            width: 70%;
            display: flex;
            justify-content: center;
            order: 2; } }

/*------------------------------------------*/
/*------------------ ABOUT -----------------*/
#about {
  display: grid;
  justify-items: center;
  row-gap: 110px;
  grid-template-columns: auto;
  grid-template-rows: 100px auto auto auto 300px;
  grid-template-areas: "header" "our-mission" "services" "team" "footer"; }

#about #our-mission {
  height: auto; }

#about #our-mission .container {
  row-gap: 64px; }
  #about #our-mission .container .box-1 {
    grid-column: 1/3;
    grid-row: 1; }
  #about #our-mission .container .box-2 {
    grid-column: 1/3;
    grid-row: 2/3; }
  #about #our-mission .container .box-3 {
    grid-column: 3/5;
    grid-row: 1/3; }
    #about #our-mission .container .box-3 .media {
      display: flex;
      max-height: 320px; }
    #about #our-mission .container .box-3 .m-relative {
      position: relative;
      top: 290px;
      left: -180px; }
  #about #our-mission .container .box-4 {
    grid-column: 1/3;
    grid-row: 3/4; }
  #about #our-mission .container .box-5 {
    grid-column: 1/3;
    grid-row: 4/5; }
  #about #our-mission .container .box-6 {
    grid-column: 3/5;
    grid-row: 4/5; }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    #about #our-mission .container {
      height: 1460px;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(64px, auto);
      grid-auto-flow: row;
      justify-items: center;
      row-gap: 48px;
      margin: 0;
      padding: 0; }
      #about #our-mission .container .box-1 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 1; }
      #about #our-mission .container .box-2 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 2; }
      #about #our-mission .container .box-3 {
        display: none; }
      #about #our-mission .container .box-4 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 3; }
      #about #our-mission .container .box-5 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 4; }
      #about #our-mission .container .box-6 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 5; } }
  @media screen and (min-width: 640px) and (max-width: 767px) {
    #about #our-mission .container .box-2 {
      grid-column: 1/-1;
      grid-row: 2;
      z-index: 2; }
    #about #our-mission .container .box-3 {
      grid-column: 1/-1;
      grid-row: 2;
      z-index: 1; }
      #about #our-mission .container .box-3 .media:nth-child(1) {
        display: none; }
    #about #our-mission .container .box-4 {
      grid-column: 1/-1;
      grid-row: 3; } }

#about #services {
  display: flex;
  justify-content: center;
  width: 100%; }

#about #services .container {
  align-content: start;
  width: 100%;
  height: 720px; }
  #about #services .container .box-1 {
    grid-column: 1/-1;
    grid-row: 1;
    height: 90px; }
  #about #services .container .box-2 {
    grid-column: 1/-1;
    grid-row: 2;
    height: 480px; }
    #about #services .container .box-2 .accordion label {
      display: block;
      background: none;
      padding: 10px;
      color: #424242;
      cursor: pointer;
      border-bottom: 1px solid black; }
    #about #services .container .box-2 .accordion p {
      color: #424242;
      padding: 10px;
      font-size: 0.8em;
      line-height: 1.7em;
      visibility: hidden;
      opacity: 0;
      display: none;
      text-align: left;
      background: none;
      margin-top: 0px; }
    #about #services .container .box-2 #tm:checked ~ .hiddentext {
      display: block;
      visibility: visible;
      opacity: 1; }
    #about #services .container .box-2 input#tm {
      display: none;
      position: relative; }
    #about #services .container .box-2 #tn:checked ~ .hiddentext {
      display: block;
      visibility: visible;
      opacity: 1; }
    #about #services .container .box-2 input#tn {
      display: none;
      position: relative; }
    #about #services .container .box-2 #to:checked ~ .hiddentext {
      display: block;
      visibility: visible;
      opacity: 1; }
    #about #services .container .box-2 input#to {
      display: none;
      position: relative; }
    #about #services .container .box-2 #tp:checked ~ .hiddentext {
      display: block;
      visibility: visible;
      opacity: 1; }
    #about #services .container .box-2 input#tp {
      display: none;
      position: relative; }

#about #team .container {
  align-content: start;
  height: 100%; }
  #about #team .container .box-1 {
    grid-column: 1/-1;
    grid-row: 1;
    height: 90px; }
  #about #team .container .box-2 {
    grid-column: 1/3;
    grid-row: 2;
    height: 480px; }
  #about #team .container .box-3 {
    grid-column: 3/5;
    grid-row: 2; }
    #about #team .container .box-3 .texts {
      display: flex;
      flex-direction: column; }
      #about #team .container .box-3 .texts .texts__title {
        height: 90px; }
  #about #team .container .box-4 {
    grid-column: 1/3;
    grid-row: 3;
    height: 300px; }
    #about #team .container .box-4 .texts {
      display: flex;
      flex-direction: column; }
      #about #team .container .box-4 .texts .texts__title {
        height: 90px; }
  #about #team .container .box-5 {
    grid-column: 3/5;
    grid-row: 3;
    height: 360px; }
  #about #team .container .box-6 {
    grid-column: 1/3;
    grid-row: 4;
    height: 360px; }
  #about #team .container .box-7 {
    grid-column: 3/5;
    grid-row: 4; }
    #about #team .container .box-7 .texts {
      display: flex;
      flex-direction: column; }
      #about #team .container .box-7 .texts .texts__title {
        height: 90px; }
  @media screen and (min-width: 320px) and (max-width: 639px) {
    #about #team .container {
      height: auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(64px, auto);
      grid-auto-flow: row;
      justify-items: center;
      row-gap: 48px;
      margin: 0;
      padding: 0; }
      #about #team .container .box-1 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 1;
        justify-content: center; }
      #about #team .container .box-2 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 2; }
      #about #team .container .box-3 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 3; }
      #about #team .container .box-4 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 5; }
      #about #team .container .box-5 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 4;
        justify-content: center; }
      #about #team .container .box-6 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 6;
        justify-content: center; }
      #about #team .container .box-7 {
        min-width: 320px;
        padding: 20px;
        grid-column: 1/-1;
        grid-row: 7; } }

/*------------------------------------------*/
/*---------------- SERVICES ----------------*/
#works {
  display: grid;
  justify-items: center;
  row-gap: 110px;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 300px;
  grid-template-areas: "header" "our-works" "footer"; }

#works #our-works {
  height: auto; }

#works #our-works .container .box-1 {
  grid-column: 1/4;
  grid-row: 1; }

#works #our-works .container .box-2 {
  grid-column: 2/4;
  grid-row: 2/3; }
  #works #our-works .container .box-2 .texts {
    height: 100%;
    width: 100%; }

#works #our-works .container .box-3 {
  grid-column: 1/3;
  grid-row: 3;
  height: 290px; }

#works #our-works .container .box-4 {
  grid-column: 3/5;
  grid-row: 3;
  height: 290px; }
  #works #our-works .container .box-4 .texts {
    height: 100%;
    display: flex;
    flex-direction: column; }

#works #our-works .container .box-5 {
  grid-column: 1/3;
  grid-row: 4;
  height: 290px; }
  #works #our-works .container .box-5 .texts {
    height: 100%;
    display: flex;
    flex-direction: column; }

#works #our-works .container .box-6 {
  grid-column: 3/5;
  grid-row: 4;
  height: 290px; }

#works #our-works .container .box-7 {
  grid-column: 1/3;
  grid-row: 5;
  height: 290px; }

#works #our-works .container .box-8 {
  grid-column: 3/5;
  grid-row: 5;
  height: 290px; }
  #works #our-works .container .box-8 .texts {
    height: 100%;
    display: flex;
    flex-direction: column; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  #works #our-works .container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(64px, auto);
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 48px;
    margin: 0;
    padding: 0; }
    #works #our-works .container .box-1 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 1; }
    #works #our-works .container .box-2 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 2; }
    #works #our-works .container .box-3 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 3; }
    #works #our-works .container .box-4 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 4; }
    #works #our-works .container .box-5 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 6; }
    #works #our-works .container .box-6 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 5; }
    #works #our-works .container .box-7 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 7; }
    #works #our-works .container .box-8 {
      min-width: 320px;
      padding: 20px;
      grid-column: 1/-1;
      grid-row: 8; } }

/*------------------------------------------*/
/*---------------- CONTACT -----------------*/
#contact {
  display: grid;
  justify-items: center;
  row-gap: 48px;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 300px;
  grid-template-areas: "header" "contact-us" "footer"; }

#contact #contact-us .container .box-1 {
  grid-column: 1/-1;
  grid-row: 1; }

#contact #contact-us .container .box-2 {
  grid-column: 1/5;
  grid-row: 2;
  max-width: 1024px;
  width: 100%; }
  #contact #contact-us .container .box-2 .contact100-more {
    display: flex;
    flex-direction: column; }
    #contact #contact-us .container .box-2 .contact100-more .txt-box {
      height: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
    #contact #contact-us .container .box-2 .contact100-more .gmaps-box {
      height: 50%;
      display: flex;
      align-items: center; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  #contact #contact-us .container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(64px, auto);
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 48px;
    margin: 0;
    padding: 0; }
    #contact #contact-us .container .gmaps-box iframe {
      height: 100%; } }

.container-contact100 a {
  font-family: Poppins-Regular;
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s; }

.container-contact100 a:focus {
  outline: none !important; }

.container-contact100 a:hover {
  text-decoration: none; }

input {
  outline: none;
  border: none; }

textarea {
  outline: none;
  border: none; }

textarea:focus,
input:focus {
  border-color: transparent !important; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

input:focus::-moz-placeholder {
  color: transparent; }

input:focus:-ms-input-placeholder {
  color: transparent; }

textarea:focus::-webkit-input-placeholder {
  color: transparent; }

textarea:focus:-moz-placeholder {
  color: transparent; }

textarea:focus::-moz-placeholder {
  color: transparent; }

textarea:focus:-ms-input-placeholder {
  color: transparent; }

input::-webkit-input-placeholder {
  color: #adadad; }

input:-moz-placeholder {
  color: #adadad; }

input::-moz-placeholder {
  color: #adadad; }

input:-ms-input-placeholder {
  color: #adadad; }

textarea::-webkit-input-placeholder {
  color: #adadad; }

textarea:-moz-placeholder {
  color: #adadad; }

textarea::-moz-placeholder {
  color: #adadad; }

textarea:-ms-input-placeholder {
  color: #adadad; }

/*---------------------------------------------*/
button {
  outline: none !important;
  border: none;
  background: transparent; }

button:hover {
  cursor: pointer; }

iframe {
  border: none !important; }

/*//////////////////////////////////////////////////////////////////
  [ utility ]*/
/*==================================================================
  [ Text ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 18px;
  line-height: 1.2;
  color: #fff; }

.txt2 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #999999; }

.txt3 {
  font-family: Poppins-Regular;
  font-size: 15px;
  line-height: 1.6;
  color: #dfab67; }

/*==================================================================
  [ Size ]*/
.size1 {
  width: 355px;
  max-width: 100%; }

.size2 {
  width: calc(100% - 43px); }

/*//////////////////////////////////////////////////////////////////
  [ Contact ]*/
.container-contact100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: none; }

.wrap-contact100 {
  width: 1024px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse; }

/*==================================================================
  [ Contact more ]*/
.contact100-more {
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0px 15px; }

.contact100-more::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #412236; }

/*==================================================================
  [ Form ]*/
.contact100-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 56px 55px 63px 55px; }

.contact100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 33px; }

/*------------------------------------------------------------------
  [ Input ]*/
.wrap-input100 {
  width: 100%;
  position: relative;
  border: 1px solid #e6e6e6; }

.rs1-wrap-input100,
.rs2-wrap-input100 {
  width: 50%; }

.rs2-wrap-input100 {
  border-left: none; }

.label-input100 {
  font-family: Poppins-Regular;
  font-size: 12px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 55px;
  border: 1px solid #e6e6e6;
  border-bottom: none;
  padding: 10px 25px;
  margin-top: 15px;
  margin-bottom: 0; }

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px; }

input.input100 {
  height: 55px; }

textarea.input100 {
  min-height: 139px;
  padding-top: 19px;
  padding-bottom: 15px; }

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #00ad5f;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3); }

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

/*------------------------------------------------------------------
  [ Button ]*/
.container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 23px; }

.contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 200px;
  height: 50px;
  border-radius: 2px;
  background: #412236;
  font-family: Montserrat-Bold;
  font-size: 12px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; }

.contact100-form-btn:hover {
  background: #333333; }

/*------------------------------------------------------------------
  [ Responsive ]*/
@media (max-width: 992px) {
  .contact100-form {
    width: 60%;
    padding: 56px 30px 63px 30px; }
  .contact100-more {
    width: 40%; } }

@media (max-width: 768px) {
  .contact100-form {
    width: 100%; }
  .contact100-more {
    width: 100%; } }

@media (max-width: 576px) {
  .contact100-form {
    padding: 56px 15px 63px 15px; }
  .rs1-wrap-input100,
  .rs2-wrap-input100 {
    width: 100%; }
  .rs2-wrap-input100 {
    border-left: 1px solid #e6e6e6;
    border-top: none; } }

/*------------------------------------------------------------------
  [ Alert validate ]*/
.validate-input {
  position: relative; }

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s; }

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px; }

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1; }

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1; } }

/*------------------------------------------*/
/*------------------ LOGIN -----------------*/
#login {
  display: grid;
  justify-items: center;
  row-gap: 110px;
  grid-template-columns: auto;
  grid-template-rows: 100px auto 300px;
  grid-template-areas: "header" "contact-us" "footer"; }

#login #log .container .box-1 {
  grid-column: 1/-1;
  grid-row: 1; }

#login #log .container .box-2 {
  grid-column: 1/2;
  grid-row: 2;
  display: flex;
  justify-content: center; }

#login #log .container .box-3 {
  grid-column: 2/3;
  grid-row: 2;
  display: flex;
  justify-content: center; }
  #login #log .container .box-3 .login {
    width: 260px;
    height: 320px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 30px; }
    #login #log .container .box-3 .login .texts {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none; }
      #login #log .container .box-3 .login .texts h2 {
        color: #412236;
        background: none; }
    #login #log .container .box-3 .login .login__form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: none; }
      #login #log .container .box-3 .login .login__form label {
        display: block;
        color: #412236;
        background: none;
        padding-top: 10px; }
      #login #log .container .box-3 .login .login__form input {
        display: block;
        width: 100%;
        background: none;
        outline: none;
        font-size: 16px;
        line-height: 40px;
        padding-right: 14px;
        padding-left: 14px;
        border: none;
        border-bottom: 1px solid #412236; }
      #login #log .container .box-3 .login .login__form fieldset {
        display: block;
        outline: none;
        border: none;
        background: none; }
      #login #log .container .box-3 .login .login__form .inputLabel {
        background: none; }
  #login #log .container .box-3 .login__form [type="button"] {
    display: block;
    min-width: 120px;
    margin: 30px auto 10px;
    font-size: 18px;
    line-height: 40px;
    border-radius: 25px;
    border: none;
    color: #e33f5b;
    background: #f8dcda; }
  #login #log .container .box-3 .login__form [type="button"]:hover {
    cursor: pointer; }

@media screen and (min-width: 320px) and (max-width: 639px) {
  #login #log .container {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(64px, auto);
    grid-auto-flow: row;
    justify-items: center;
    row-gap: 48px;
    margin: 0;
    padding: 0; }
    #login #log .container .box-1 {
      grid-column: 1/-1;
      grid-row: 1; }
    #login #log .container .box-2 {
      display: none; }
    #login #log .container .box-3 {
      grid-column: 1/-1;
      grid-row: 2; } }

/*------------------------------------------*/
/*------------------------------------------*/
