//FOOTER
$footer: ".footer";
$data: ".data";
$social: ".social";

#{$footer} {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: $color-b;
  padding: 50px 0 50px 0;

  &__data {
    width: 540px;
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-w;
  }

  &__data li {
    list-style: none;
    font-family: $font-secondary;
    font-size: $font-menu-size;
  }

  &__social {
    width: 260px;
    height: 35%;
    display: flex;
    color: $color-w;
    justify-content: center;
  }

  &__social li {
    list-style: none;
  }

  &__social a {
    text-decoration: none;
    color: $color-w;
  }

  &__social a:hover {
    color: $color-f;
  }

  @include breakpoint(mobile) {
    .footer__data {
      width: 320px;

      .data__item {
        text-align: center;
      }
    }
  }
  @include breakpoint(tablet) {
    .footer__data {
      width: 640px;
    }
  }
}

#{$data} {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  &__item {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

#{$social} {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__link {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

.social-media {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
