* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-size: 16px;
}

.container {
  padding: 0 24px 0 24px;
  max-width: $max-width;
  min-width: $min-width;
}

.secondary-menu {
  display: flex;
  width: 300px;
  background: none;

  li {
    list-style: none;
  }

  ul {
    width: 100%;
  }
}

$main: ".main";

#{$main} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  background: none;
  max-width: 1290px;

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  &__menu {
    display: flex;
    width: 210px;
    background: none;

    li {
      list-style: none;
    }

    ul {
      width: 100%;
    }
  }
}

$content: ".content";

#{$content} {
  width: 100%;
  display: flex;

  &__column {
    display: flex;
    flex-direction: column;
  }

  &__media {
    display: flex;
    overflow: hidden;
  }

  &__row {
    display: flex;
    width: 100%;
  }
}

/*------------------ TEXTS -----------------*/
$texts: ".texts";

#{$texts} {
  display: flex;

  &__title {
    font-family: $font-primary;
    font-size: $font-title-size;
    font-weight: 400;
    display: flex;
  }

  &__title-alt {
    font-family: $font-secondary;
    font-size: $font-title-alt-size;
    font-weight: 400;
    display: flex;
  }

  &__subtitle {
    font-family: $font-primary;
    font-size: $font-subtitle-size;
    font-weight: 400;
    display: flex;
  }

  &__paraph {
    font-family: $font-primary;
    font-size: $font-paraph-size;
    font-weight: 400;
    display: flex;
  }
}
