/*------------------ FONTS -----------------*/

@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rosarivo:ital@1&display=swap");

$font-sizes: (
  title: 2.5rem,
  title-alt: 1.5rem,
  subtitle: 2rem,
  paraph: 1.25rem,
  menu: 1rem,
  emphasis: 3.5rem,
);

@function font-size($size) {
  @return map-get($map: $font-sizes, $key: $size);
}

$font-title-size: font-size(title);

$font-title-alt-size: font-size(title-alt);

$font-subtitle-size: font-size(subtitle);

$font-paraph-size: font-size(paraph);

$font-menu-size: font-size(menu);

$font-emphasis-size: font-size(emphasis);

$font-logo: "Yeseva One", cursive;

$font-primary: "Prata", serif;

$font-secondary: "Hind", sans-serif;

$font-third: "Rosarivo", serif;

/*------------------------------------------*/

/*----------------- COLORS -----------------*/
$colors: (
  primary: #412236,
  secondary: #e33f5b,
  third: #f8dcda,
  fourth: #dfab67,
  blanco: #fff,
  negro: black,
);

@function colors($color) {
  @return map-get($map: $colors, $key: $color);
}

$color-p: colors(primary);

$color-s: colors(secondary);

$color-t: colors(third);

$color-f: colors(fourth);

$color-w: colors(blanco);

$color-b: colors(negro);

.c-blanco {
  color: $color-w;
}

.c-negro {
  color: $color-b;
}

.c-primary {
  color: $color-p;
}

.c-secondary {
  color: $color-s;
}

.c-third {
  color: $color-t;
}

.c-fourth {
  color: $color-f;
}

/*--------------- BACKGROUND ---------------*/

.bg-transparent {
  background: none;
}

.bg-colored {
  background-color: rgba($color: #e33f5b, $alpha: 0.4);
}

/*------------- MODIFICADORES --------------*/
//FLEX

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.h-center {
  justify-content: center;
}

.h-start {
  justify-content: flex-start;
}

.h-end {
  justify-content: flex-end;
}

.h-evenly {
  align-items: space-evenly;
}

.h-between {
  align-items: space-between;
}

.h-around {
  align-items: space-around;
}

.v-center {
  align-items: center;
}

.v-start {
  align-items: flex-start;
}

.v-end {
  align-items: flex-end;
}

.v-evenly {
  justify-content: space-evenly;
}

.v-between {
  justify-content: space-between;
}

.v-around {
  justify-content: space-around;
}

//DIMENSIONS
.height-100 {
  height: 100%;
}

.width-50 {
  width: 50%;
}

//BOXMODEL

.padding-30 {
  padding: 30px;
}

.padding-20 {
  padding: 20px;
}

//BUTTONS
.button-l {
  width: 160px;
  height: 40px;
  border: 1px solid $color-p;

  a {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $color-p;
  }
}

/*------------------------------------------*/
